
/* navbar */
@media (max-width: 768px) {
    nav {
        justify-content: space-between;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        transition: all 0.3s ease-out;
        overflow: hidden;

    }

    nav ul li {
        padding: 20px;
        text-align: center;


    }

    .toggle {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        color: #631200;
        font-size: 40px;
        cursor: pointer;
    }






}

@media only screen and (max-width: 768px) {
    .landing-page {}

    .landing-page img {}

    .landing-page-item {}

    .our-story {

        padding: 0.1rem 0rem;
    }

    .introduction {
background-color: darkgoldenrod;
        padding: 1rem 0.1rem;
        max-width: 100%;


    }
}

@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}