@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,900;1,700&family=Palanquin:wght@300;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-primary-200: #005163;
    --clr-primary-400: orangered;
    --clr-neutral-100: #631200;
    --clr-neutral-900: #222c2a;

    --ff-primary: 'Palanquin', sans-serif;
    --ff-accent: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-size: 1.312rem;
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
}

/* html {
    color-scheme: dark light;
} */


/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: antiquewhite;
    border: 0.25em solid var(--clr-neutral-100);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: floralwhite !important;
    border: 0.25em solid var(--clr-neutral-900);
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: var(--clr-primary-200) floralwhite;
        ;
        scrollbar-width: thin;
    }
}

/* Back to top */

.backToTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    background-color: #005163;
    border-radius: 5px;
    width: 40px;
}

.backToTopBtn:hover {
    background-color: antiquewhite;
}

/* Navbar */

header {
    width: 100%;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    max-width: 1440px;
    margin: 0 auto;


    font-family: var(--ff-primary);
    font-size: clamp(18px, 3vw, 20px);
    line-height: 1.3;
    letter-spacing: 1px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0px 20px;
    font-weight: 900;

    position: relative;

}

nav ul li a {
    color: var(--clr-neutral-100);
    text-decoration: none;

}

nav ul li a:hover {}



nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-primary-200);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(0.5);
    transform-origin: bottom;
}

.nav-closed {
    height: 0%;
}

.toggle {
    display: none;
    color: #631200;
}

#times {
    display: none;

}

.logo {
    padding: 10px 10px;
}

.logo img {
    width: 150px;
}

.logo img:hover {
    width: 140px;
    transition: ease-in-out;
}

/* landing Page */


.landing-page-alt {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0.50rem;
    height: auto;


}

.landing-page-alt div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem 1rem;

}

.landing-page-item {
    flex: 1;
    max-width: 500px;
    padding: 1rem;

}

.landing-page-item.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.paragraph {
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;

}

.animated-span {
    font-size: clamp(18px, 4vw, 22px);
    font-family: var(--ff-accent);
    display: inline-block;
    padding: 2px 5px;
    margin: 5px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease-in-out;
    letter-spacing: 3px;
    line-height: 1.5;
    text-transform: uppercase;


}

.sub-head {
    line-height: 1;
    letter-spacing: 1px;
    font-size: clamp(18px, 3vw, 22px);
    font-family: var(--ff-primary);
    text-transform: uppercase;
    font-weight: 700;
    padding: 2px;
}


.applications {
    font-family: var(--ff-accent);
    font-size: clamp(16px, 4vw, 22px);
    line-height: 1.1;
    letter-spacing: 1px;
    color: black !important;
    font-weight: 400;
    padding: 2px;
}

.landing-page-item.words {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}

.landing-page-item.words img {
    width: 120px;
}

#my-paragraph {
    font-size: clamp(60px, 4vw, 80px);
    text-align: center;
    font-family: var(--ff-primary);
    margin-top: 3rem;
    line-height: 1.1;
}



.blob {
    position: absolute;
    width: 250px;
    height: 200px;
    background: linear-gradient(180deg,
            rgba(47, 184, 255, 0.42) 31.77%,
            #634400 100%);
    mix-blend-mode: color-dodge;
    -webkit-animation: move 25s infinite alternate;
    animation: move 25s infinite alternate;
    transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);

}

.blob:hover {
    width: 250px;
    height: 250px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    box-shadow:
        inset 0 0 0 5px rgba(255, 255, 255, 0.6),
        inset 100px 100px 0 0px #fa709a,
        inset 200px 200px 0 0px #784ba8,
        inset 300px 300px 0 0px #005163;
}

@-webkit-keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}

@keyframes move {
    from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
}



.images-folder {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 3rem 1rem;
}

.images-folder img {
  
}

.our--services--intro-p {
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1.3;
    font-size: clamp(25px, 4vw, 40px);
    display: inline-block;
    position: relative;
    width: fit-content;
    text-align: center;
    max-width: 700px;
}

/* Our Services */

.our-services-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0.5rem;
    height: auto;
    background: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);
}

.our--services--intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.our--services--intro p {
    font-size: clamp(18px, 3vw, 20px);
    letter-spacing: 2px;
    line-height: 1.3;
    font-family: var(--ff-primary);
}

.products-list-ul {
    list-style: none;
    font-family: var(--ff-accent);
    background-color: var(--clr-neutral-100);
    list-style-position: outside;

}

.products-list-ul li {
    background-color: floralwhite;
    padding-left: 0.10rem;
    line-height: 1.3;
    letter-spacing: 2px;
    width: 100%;
    padding: 3px;
    margin: 3px;
}

.products-list-ul li:hover {
    background-color: var(--clr-primary-200);
    color: floralwhite;
}



.products-list-ul li::before {
    content: "•";
    color: #005163;
    font-weight: bold;
    margin-right: 0.50rem;
    margin-left: 1rem;
}



.our-services--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.10rem;
    gap: 1rem;
    height: auto;
}

.our-services--container section {
    flex: 1;
    padding: 0.50rem;
}

.our-services--container-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.process-title {
    font-family: var(--ff-accent);
    font-weight: 700;
    color: #005163;
    font-size: clamp(18px, 4vw, 24px);
    letter-spacing: 2px;
    line-height: 1.3;
}

.process-paragraph {
    font-weight: bold;
    font-family: var(--ff-primary);
    line-height: 1.3;
    margin-bottom: 1rem;
    font-size: clamp(16px, 3vw, 20px);
    text-transform: uppercase;
}

.our-services--container-section p {
    font-weight: 300;
    font-family: var(--ff-accent);
    font-size: clamp(18px, 3vw, 20px);
    line-height: 1.3;
}

.our-services--container-section p span {
    color: rgb(243, 68, 5);
    font-weight: 900;
    font-family: var(--ff-primary);
    font-size: clamp(20px, 3vw, 24px);
    letter-spacing: 2px;
    line-height: 1.4;

}

.email-link {
    color: orangered;
    text-decoration: none;
    font-family: var(--ff-primary);
    font-size: clamp(18px, 3vw, 20px);
}

.introduction-article {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}

.introduction-article p {
    font-weight: 300;
    font-family: var(--ff-primary);
    font-size: clamp(20px, 3vw, 22px);
    line-height: 1.3;
}

.introduction-article section {
    flex: 1;
}

.middle-image {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 3rem 0rem;
    background-color: #fff;

}

.middle-image img {
    width: 100%;
    transform: rotate(10deg);
}

/* Our Story Section */

#our--stories {
    background-image: linear-gradient(40deg,
                hsl(240deg 100% 20%) 0%,
                hsl(221deg 100% 23%) 1%,
                hsl(210deg 100% 22%) 3%,
                hsl(199deg 100% 21%) 6%,
                hsl(199deg 45% 31%) 9%,
                hsl(229deg 14% 55%) 13%,
                hsl(300deg 11% 71%) 18%,
                hsl(350deg 32% 90%) 25%,
                hsl(360deg 33% 94%) 33%,
                hsl(360deg 15% 90%) 45%,
                hsl(360deg 7% 87%) 62%,
                hsl(0deg 2% 83%) 100%);
}

.our-story {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 1rem;
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
    padding: 2.5rem 0rem;
}

.introduction {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}


.introduction--article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;
    padding: 2rem 0.5rem;
}


.our-story-title {
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1.3;
    font-size: clamp(22px, 4vw, 35px);
    display: inline-block;
    position: relative;
    color: var(--clr-primary-200);
    width: fit-content;

}

.our-story-title.faqq {
    font-size: clamp(22px, 4vw, 35px);
}

.our-story-title:hover {
    text-transform: capitalize;
}



.our-story-title::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-neutral-100);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.our-story-title:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.our-story-title-sub {
    font-weight: 700;
    font-size: clamp(25px, 3vw, 30px);
    line-height: 1.3;
    font-family: var(--ff-primary);
    color: #630020;
}

.our-story-paragraph {
    font-size: clamp(20px, 3vw, 25px);
    line-height: 1.3;
    font-family: var(--ff-primary);

}

.our-services {
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2.5rem 1rem;
    max-width: 1440px;
    margin: 0 auto;

}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0.50rem;
    max-width: 1240px;
    margin: 0 auto;
}

.our-services-items.last {
    background-image: linear-gradient(40deg,
            hsl(240deg 100% 20%) 0%,
            hsl(221deg 100% 23%) 1%,
            hsl(210deg 100% 22%) 3%,
            hsl(199deg 100% 21%) 6%,
            hsl(199deg 45% 31%) 9%,
            hsl(229deg 14% 55%) 13%,
            hsl(300deg 11% 71%) 18%,
            hsl(350deg 32% 90%) 25%,
            hsl(360deg 33% 94%) 33%,
            hsl(360deg 15% 90%) 45%,
            hsl(360deg 7% 87%) 62%,
            hsl(0deg 2% 83%) 100%);

}

.our-services-items {
    background-image: linear-gradient(215deg,
            hsl(240deg 100% 20%) 0%,
            hsl(221deg 100% 23%) 1%,
            hsl(210deg 100% 22%) 3%,
            hsl(199deg 100% 21%) 6%,
            hsl(199deg 45% 31%) 9%,
            hsl(229deg 14% 55%) 13%,
            hsl(300deg 11% 71%) 18%,
            hsl(350deg 32% 90%) 25%,
            hsl(360deg 33% 94%) 33%,
            hsl(360deg 15% 90%) 45%,
            hsl(360deg 7% 87%) 62%,
            hsl(0deg 2% 83%) 100%);


}

.our-services-items.photo {
    background-image: none;
    border: none;
    padding: 0rem;
}

.overlay,
.overlays,
.overlayed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(215deg,
            hsl(240deg 100% 20%) 0%,
            hsl(221deg 100% 23%) 1%,
            hsl(210deg 100% 22%) 3%,
            hsl(199deg 100% 21%) 6%,
            hsl(199deg 45% 31%) 9%,
            hsl(229deg 14% 55%) 13%,
            hsl(300deg 11% 71%) 18%,
            hsl(350deg 32% 90%) 25%,
            hsl(360deg 33% 94%) 33%,
            hsl(360deg 15% 90%) 45%,
            hsl(360deg 7% 87%) 62%,
            hsl(0deg 2% 83%) 100%);
}


.our-services-items p {
    font-size: clamp(18px, 2vw, 20px);
    line-height: 1.3;
    font-family: var(--ff-accent);
}


.column {
    flex: 1;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }


    .column {
        flex: none;
        width: 100%;
        height: 251px !important;

    }

    .overlay {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.more-stuff-grid {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0.5rem 0;
    display: grid;
    place-items: center;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 600px)) minmax(1em, 1fr);

}



.who-we-are-welcome {
    text-align: center;
    padding: 10px;
}

.columns {
    display: flex;


}

.col+.col {
    margin-left: 1.5em;

}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.slide-in {
    max-width: 450px;
}



.more-stuff-grid p {
    padding: 10px;
    font-size: clamp(18px, 3vw, 22px);
    line-height: 1.3;
    font-family: var(--ff-primary);
}

.digital-markerting-link {
    text-decoration: none;
    color: #005163;
}

.more-stuff-grid img {
    width: 100%;
    max-width: 400px;
}





.from-left {
    grid-column: 2 / 3;
    transform: translateX(-50%);
}

.from-right {
    grid-column: 3 / 4;
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .more-stuff-grid {
        display: flex;
        flex-direction: column;
    }

    .more-stuff-grid.second {
        display: flex;
        flex-direction: column-reverse !important;
    }

    .more-stuff-grid img {
        width: 100%;
        padding: 15px;
    }

    .more-stuff-grid p {
        padding: 10px;
    }
}





/* Contact Form */

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: auto;
    max-width: 1200px;
    padding: 3rem 1rem;
}

.contact-section section {
    flex: 1;

}

.contact-section--section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-section--section p {
    font-size: clamp(18px, 2vw, 20px);
    line-height: 1.3;
    font-family: var(--ff-accent);
}

.visit-us {
    color: var(--clr-neutral-100);
    font-size: clamp(20px, 3vw, 24px);
    font-family: var(--ff-primary);
    text-transform: uppercase;
    font-weight: 700;

}

.vera-city-name {
    color: var(--clr-primary-200);
    font-size: clamp(18px, 3vw, 22px);
    font-family: var(--ff-accent);
    text-transform: capitalize;
    font-weight: 700;
}


/* Footer */


footer {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: floralwhite;

}

.footer-row.one {

    padding-top: 3rem;
}

.footer-row {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0.50rem 0.20rem;
}


.footer-logo {
    width: 200px;
    height: auto;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    text-decoration: none;
    color: #005163;
    font-size: clamp(18px, 3vw, 22px);
    font-family: var(--ff-accent);
}

.footer-links li {
    text-decoration: none;
    color: #005163;
    font-size: clamp(18px, 3vw, 22px);
    text-align: center;
    font-family: var(--ff-accent);
    font-weight: 300;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #630020;
    text-decoration: none;
    font-weight: 700;
}

h6 {
    color: #630020;
    font-size: clamp(20px, 3vw, 24px);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-family: var(--ff-primary);
}

.copyright-container {
    display: flex;
    justify-content: end;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.50rem;

}

#trigger {
    font-size: 18px;
    padding-right: 10px;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    color: #005163;
}

#element-to-show {
    display: none;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    padding-right: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}





.designer,
.copyright {
    text-decoration: none;
    font-size: 16px;

}


.designer {
    font-size: 16px;
    color: orangered;
    font-family: 'Palanquin', sans-serif;


}

.copyright {
    color: #005163;

}